@import url("https://cdn.cyberduck.io/css/custom.css");

body {
    font-size: 16px;
}

.wy-nav-content {
  max-width: 100%
}

.text-align\:left {
  text-align: left;
}
.text-align\:center {
  text-align: center;
}
.text-align\:right {
  text-align: right;
}

.wy-menu-vertical a:hover, .wy-menu-vertical a:focus {
  color: inherit;
}

.rst-content blockquote {
  font-size: 16px;
  margin: 0;
}

.rst-content blockquote p {
  padding-left: 10px;
  border-left: 5px solid #ccc;
}

.sphinx-tabs-panel {
  padding: 1em 1em 0 1em;
}

.rst-content section ol.arabic, .rst-content section ol.arabic > li {
    list-style: none;
}

.rst-content section ol.arabic > li {
   position: relative;
   counter-increment: step-counter;
   padding-left: 10px;
   padding-bottom: 10px;
}

.rst-content section ol > li::before {
  text-align: center;
  content: counter(step-counter);
  background-color: #55a5d9;
  color: white;
  padding: 2px 10px;
  border-radius: 50%;
  position: absolute;
  display: block;
  right: 100%;
}