@import url("https://cdn.cyberduck.io/css/custom.css");

.wy-nav-content {
  max-width: 100%
}

.text-align\:left {
  text-align: left;
}
.text-align\:center {
  text-align: center;
}
.text-align\:right {
  text-align: right;
}

.wy-menu-vertical a:hover, .wy-menu-vertical a:focus {
  color: inherit;
}